/* Universal */
body {
  color: #575A66;
  font-family: Helvetica, Arial, sans-serif;
  /*letter-spacing: 0.1rem;*/
  font-size: 20px;
}
.NewsCycle {
  font-family: "News Cycle";

}
/* 1 HEADER */
header {
  height: 64px; /* header height + */
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;

}
.header_left {
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.header_left img {
  height: 50px;
  width: 100%;
}
.header_left h1:nth-child(2n+0) {
  color: #575A66;
  font-weight: bold;
}
.header_left h1 {
  line-height: 32px;
  height: 32px;
}

.header_right {
  padding-right: 16px;/*(24-8=16)*/
  line-height: 64px;
  margin-left: 16px;

}
.header_right ul {
  display: flex;
}
.header_right ul li {
  padding-left: 8px;
  padding-right: 8px;
  color: #575A66;

  transition-property: all;
  transition-duration: 200ms;
}
.header_right ul li:hover {
  background-color: #575A66;
  color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

header .header_left_hide {
  display: none;
}
/* >>>>Мобильный размер экрана - начало>>> */
@media only screen and (max-width: 700px) {/* ШРИФТЫ */
.header_left, .header_right {
    display: none;
  }
  header .header_left_hide {
    display: none;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 24px;
  }
  .header_left_hide img {
    height: 60px;
  }
  .header_left_hide .fadiv {
    transition-property: all;
    transition-duration: 200ms;
    color: black;
    padding: 12px 15px;
  }
  .header_left_hide .fadiv:hover {
    border-radius: 5px;
    background-color: #575A66;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }
}
/* <<<Мобильный размер экрана - конец<<<< */


/*  2 LEARN SOMETHING   */
.learn_something {
  background-color: lightgrey;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.learn_left {
  background-image: url(../images/banner.jpg);
  width: 60%;
  height: 40rem;
  margin: 32px 48px 32px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.learn_right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 26%;
}
.learn_right p {
  margin-bottom: 48px;
  color: #575A66;
  font-size: 20px;
  line-height: 1.2;
  /* font-family: */
}
.learn_right h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 48px;
  color: #575A66;
  line-height: 1.2;
    /* font-family:  межбуквенный интервал и межслов*/
}
.learn_right .button_start {
  background-color: #575A66;
  color: white;
  width:100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  line-height: 1.2;

  transition-property: all;
  transition-delay: 0;
  transition-timing-function: ease-out;
  transition-duration: 200ms;

    /* font-family:   межбуквенный интервал и межслов*/
}
.button_start:hover {/*
  background-color: #281212;*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 173, 105);
}

/* >>>>Мобильный размер экрана - начало>>> */
@media only screen and (max-width: 700px) {/* ШРИФТЫ */
  .learn_something {
    flex-direction: column;
  }

  .learn_left {
    width: 100%;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
  }
  .learn_something .learn_right {
    width: 90%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

.learn_right .button_start {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 32px;
    max-width: 100%;

  }
}

/* <<<Мобильный размер экрана - конец<<<< */
/* 3  PRACTICING _____________________________         */

.practicing {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ECECEC;
}
.practicing_left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 60%;
  margin: 32px 24px 32px 24px;
}
.practicing_left .practicing_bigimg {
  background-image: url(../images/information-main.jpg);
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 32px;
}
.practicing_left h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  color: #575A66;
  margin-bottom: 24px;
  /* font-family:   межбуквенный интервал и межслов*/
}
.practicing_left p {
  line-height: 1.2;
  color: #575A66;
  /* font-family:   межбуквенный интервал и межслов*/
}
.practicing_left p:last-child {
  padding-top: 1.5rem; /* Добавила от себя, чтоб было простарнство как на рисунке */
}
/* font-family:   межбуквенный интервал и межслов*/
.practicing_right {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 1px solid lightgrey;
}
.practicing_right .block_practising {/* general rules for practicing */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.practicing_right .orientation {
  border-bottom: 1px solid lightgrey;
}
.practicing_right .campus {

}
.practicing_right .lecture {
  background-color: lightgrey;
  border-top: 1px solid lightgrey;

}
.img_pracrising {/* general rules for img */
  width: 35%;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;

}
.orientation .img_pracrising {
  background-image: url(../images/information-orientation.jpg);
  margin: 0 24px 24px 24px;
}
.campus .img_pracrising {
  background-image: url(../images/information-campus.jpg);
  margin: 24px 24px 24px 24px; /*По заданию дано 16 пискелей? но ес */
}
.lecture .img_pracrising {
  background-image: url(../images/information-guest-lecture.jpg);
  margin: 24px 24px 24px 24px;
}
.text {
  width: 65%;
  color: #575A66;
  line-height: 1.2;

}
.text h1 {
  font-size: 30px;
  font-weight: bold;
}
.text h1, .text p, .text a {
  padding-bottom: 8px;
}

/* >>>>Мобильный размер экрана - начало>>> */
@media only screen and (max-width: 700px) {
  .practicing_left {
    display: none;
  }
  .practicing_right {
    width: 100%;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-left: none;
  }
  .practicing_right .block_practising {/* general rules for practicing */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .practicing_right .orientation {
    border-bottom: none;
  }
  .practicing_right .campus {

  }
  .practicing_right .lecture {
    background-color: inherit;
    border-top: none;

  }
  .img_pracrising {/* general rules for img */
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;

  }
  .orientation .img_pracrising {
    background-image: url(../images/information-orientation-mobile.jpg);
    margin: 0;
  }
  .campus .img_pracrising {
    background-image: url(../images/information-campus-mobile.jpg);
    margin: 0;
  }
  .lecture .img_pracrising {
    background-image: url(../images/information-guest-lecture-mobile.jpg);
    margin: 0;
  }
  .text {
    width: 100%;
    margin-top: 32px;/* наугад */
    margin-left: 32px;
    margin-bottom: 64px;
  }
}
/* <<<Мобильный размер экрана - конец<<<< */
/* __________4 LEARNING _____________________________________ */
.learning {
  padding: 32px 72px;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.learning .one {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}
.learning .two {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.learning .img {/* General rules for images in learning*/
  width: 100%;
  height: 13rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.learning .start {/*head of learning*/
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
.learning .start h1 {
  margin: 0;
}

.learningblock { /* general rules for block in learning */
  align-content: flex-start;
  padding-bottom: 24px;
  width: 26rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  margin-right: 32px;
  background-color: white;
  flex-grow: 1;
  align-self: stretch;/* Растягивает по всей высоте, таким образом выравниваются все */
}

.learning .software .img {/*1*/
  background-image: url(../images/course-software.jpg);
}
.learning .computerart .img {/*2*/
  background-image: url(../images/course-computer-art.jpg);
}
.learning .design .img {/*3*/
  background-image: url(../images/course-design.jpg);
}
.learning .data .img {/*4*/
  background-image: url(../images/course-data.jpg);
}
.learning .business .img {/*5*/
  background-image: url(../images/course-business.jpg);
}
.learning .marketing .img {/*6*/
  background-image: url(../images/course-marketing.jpg);

}
.learning p {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  line-height: 1.2;
  color: #575A66;
}
.learning h1 {
  margin-left: 16px;
  margin-top: 16px;
  margin-right: 16px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: #575A66;
}


/* __________5  THESIS EXHIBIT__________________________________________ */
.exhibit_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-bottom: 32px;
  background-color: #ECECEC;
  flex-direction: column;

}
.thesis {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.thesis h1 {
  margin-bottom: 32px;
  margin-top: 32px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: #575A66;
  width: 100%;
}
.bottom_exhibit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bottom_exhibit .left_ex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin-right: 24px;

}
.vid {
    display: block;
}
.left_ex video {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.text_video h1 {
  padding-top: 24px;
  font-size: 30px;

}
.text_video p {
  padding-top: 8px;
  font-weight: lighter;
}




.right_ex {/* 5right */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.right_ex .fisma, .right_ex .now {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.right_ex .fisma {
  background-color: lightgrey;
}


.fisma .image_fisma {
  background-image: url(../images/thesis-fisma.jpg);
  width: 35%;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;background-color: #ECECEC;
  display: block;
  margin: 16px 16px 16px 16px;
}
.now .image_now {
  background-image: url(../images/thesis-now-and-then.jpg);
  width: 35%;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 16px 16px 16px 16px;
}
.text_exhibit_right  {
  width: 65%;
  color: #575A66;
  line-height: 1.2;

}
.text_exhibit_right h1 {
  font-size: 30px;
  font-weight: bold;
}
.text_exhibit_right h1, .text_exhibit_right p {
  padding-bottom: 8px;
}
/* >>>>Мобильный размер экрана - начало>>> */
@media only screen and (max-width: 700px) {
  .text_video h1, .text_video p, .right_ex, .right_ex .fisma, .right_ex .now {
    display: none;
  }
  .thesis h1 {
    margin-bottom: 16px;
  }
  .exhibit_container {
    padding-left: 0;
    padding-bottom: 24px;
  }
  .bottom_exhibit .left_ex {
    width: 100%;
    margin-right: 0;

  }
}
/* <<<Мобильный размер экрана - конец<<<< */
/* __________6 FOOTER_________________________________________ */
.footer {
  background-color: #ECECEC;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 15px;
  border-top: 1px solid lightgrey;
}
.foot_left  {
  padding-top: 16px;
  padding-left: 24px;
  color: #575A66;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 16px;
}
.foot_right {
  padding-top: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}
.foot_right a {
  color: #575A66;
  text-decoration: none;
  padding-left: 16px;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.foot_right a:hover { /* При наведении курсора */
  font-weight: bold;
}
/* >>>>Мобильный размер экрана - начало>>> + */
@media only screen and (max-width: 700px) {
  .foot_right {
    display: none;

  }
}
/* <<<Мобильный размер экрана - конец<<<< */

/*____________________*/




/* >>>>Мобильный размер экрана - начало>>> */
@media only screen and (max-width: 700px) {

}
/* <<<Мобильный размер экрана - конец<<<< */
/* >>>>Мобильный размер экрана - начало>>> */
@media only screen and (max-width: 1024px) {

}
/* <<<Мобильный размер экрана - конец<<<< */
